.hide{
    background: transparent;
    border:none
}
.loginForm{
    background: #fff;
    border-radius: 10px;
    margin: 0px auto;
    max-width: 600px;
}
p{
    font-size: 13px;
}
.blue{
    color: #4799eb;
}
::ng-deep .mat-focused .mat-form-field-label {
    color: red !important;
}
::ng-deep.mat-form-field-underline {
    background-color: black !important;
}
::ng-deep.mat-form-field-ripple {
    background-color: red !important;
}
::ng-deep .mat-form-field-label {
    color: black !important;
}