<app-loading [loading]="loading"></app-loading>
<div class="page-header" style="background-image: url(assets/imgs/footer-bg.jpg);">
    <h2>Actors</h2>
</div>

<div class="container">
    <div class="row g-5">
        <div class="col-6 col-lg-3" *ngFor="let actor of actors">
            <app-item [routerLink]="['/details','person',actor.id]" [item]="actor"></app-item>
        </div>
    </div>
</div>
<div class="text-center my-5">
    <button (click)="getMore()" type="button" class="btn btn-outline-small">
        load more
    </button>
</div>